In [1]:
import importlib
import os
import sys
sys.path.append(os.path.join('..'))

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from disruptsc.parameters import Parameters
from disruptsc.model.model import Model
import disruptsc.paths as paths
import disruptsc.network.transport_network

In [4]:
scope = "ECA"
parameters = Parameters.load_parameters(paths.PARAMETER_FOLDER, scope)
parameters.export_files = False
parameters.adjust_logging_behavior()
model = Model(parameters)

In [5]:
import disruptsc.network.transport_network
from disruptsc.network.transport_network import TransportNetwork

In [110]:
model.setup_transport_network(True)

2024-12-13 13:36:05,025 - root - INFO - Transport network generated from temp file.
2024-12-13 13:36:05,057 - root - INFO - Total length of transport network is: 329841 km
2024-12-13 13:36:05,058 - root - INFO - maritime: 202399 km
2024-12-13 13:36:05,058 - root - INFO - multimodal: 4 km
2024-12-13 13:36:05,059 - root - INFO - railways: 11827 km
2024-12-13 13:36:05,059 - root - INFO - roads: 115612 km
2024-12-13 13:36:05,061 - root - INFO - Nb of nodes: 1255, nb of edges: 1585

In [111]:
model.setup_agents(True)

2024-12-13 13:36:06,818 - root - INFO - Firms, households, and countries generated from temp file.
2024-12-13 13:36:06,820 - root - INFO - Nb firms: 10542
2024-12-13 13:36:06,821 - root - INFO - Nb households: 10
2024-12-13 13:36:06,822 - root - INFO - Nb countries: 8

In [112]:
model.setup_sc_network(True)

2024-12-13 13:36:17,725 - root - INFO - Supply chain generated from temp file.

In [113]:
model.set_initial_conditions()

2024-12-13 13:36:17,859 - root - INFO - Setting initial conditions to input-output equilibrium

In [114]:
model.setup_logistic_routes(True)

2024-12-13 13:36:35,773 - root - INFO - Logistic routes generated from temp file.

In [123]:
[key for key in model.countries['Africa'].clients.keys() if isinstance(key, str)]

['hh_0',
 'hh_1',
 'hh_2',
 'hh_3',
 'hh_4',
 'hh_5',
 'hh_6',
 'hh_7',
 'hh_8',
 'hh_9']

In [126]:
edge_list = model.sc_network.generate_edge_list()

In [128]:
edge_list['

,source_id,source_str_id,source_type,source_od_point,target_id,target_str_id,target_type,target_od_point
0,0,Firm 0 located 77 sector AFS,firm,77,hh_0,Household hh_0 located 77,household,77
1,0,Firm 0 located 77 sector AFS,firm,77,hh_1,Household hh_1 located 547,household,547
2,0,Firm 0 located 77 sector AFS,firm,77,hh_2,Household hh_2 located 49,household,49
3,0,Firm 0 located 77 sector AFS,firm,77,hh_4,Household hh_4 located 37,household,37
4,0,Firm 0 located 77 sector AFS,firm,77,hh_8,Household hh_8 located 1198,household,1198
...,...,...,...,...,...,...,...,...
154569,9970,Firm 9970 located 14 sector OXT,firm,14,9961,Firm 9961 located 450 sector COA,firm,450
154570,9954,Firm 9954 located 447 sector OXT,firm,447,9959,Firm 9959 located 445 sector COA,firm,445
154571,9954,Firm 9954 located 447 sector OXT,firm,447,9960,Firm 9960 located 450 sector OXT,firm,450
154572,9960,Firm 9960 located 450 sector OXT,firm,450,9978,Firm 9978 located 12 sector OXT,firm,12
154573,9960,Firm 9960 located 450 sector OXT,firm,450,10275,Firm 10275 located 452 sector CNS,firm,452